.center {
    text-align: center;
}

.btn {
    color: white;
    background-color: lightcoral;
    border: none;
    padding: 10px;
    font-weight: 600;
}

.btnCont {
    margin-top: 25px;
}

.container {
    margin: 10px;
}

.leftCont {
    text-align: center;
}

h1 {
    text-decoration: underline;
}